.form__container {
    height: 1000px;
    margin: 50px;
    background:
}

.form__data {
    margin: 10px;
}

.form__header {
    background: lightcoral;
    height: 50px;
}

.form__footer {
    margin-top: 50px;
}

.form__auto {
    height: 400px;
    border-right: 1px solid lightgray;
}

.form__workers {
    height: 400px;
    border-right: 1px solid lightgray;
}

.form__materials {
 
}

button {
    f
}

small {
    color: gray;
    font-size: 11px;
}

